* {
	font-family:"Warnes", Helvetica, sans-serif;
}
body {
	background-color: #333333;
}
.box {
	margin:auto;
	margin-top:20px;
	-webkit-box-shadow: 30px 3px 3px 3px rgba(0, 0, 0, 0);
	box-shadow: 30px 3px 3px 3px rgba(0, 0, 0, 0);
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}
.settings{
	color:#ffffff;
}
.playerBox{
	border: 1px #ffffff solid;
	height: 100px;
	width:100%;
	overflow: hidden;
	position: relative;
	background-color: #000000;
	border-radius: 10px;
	margin:10px 0;
	font-size:20px;
	color: rgba(255,255,255,1);
	text-align: center;
	text-shadow: 0 0 5px rgba(255,255,255,1) , 0 0 3px rgba(255,255,255,1) , 0 0 7px rgba(255,255,255,1) , 0 0 10px #ff00de , 0 0 14px #ff00de , 0 0 16px #ff00de , 0 0 20px #ff00de ;
}
.headline{
	font-size:20px;
	text-align:center;
	padding:5px;
	margin:0;
}
.gameTitle{
	font-size:30px;
	padding-top:25px;
}
.score{
	text-align: center;
}
.gameOver{
	display:none;
	background-color:#cccccc;
	height:600px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	font: normal 84px/normal "Anton", Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: 5px 5px 0 rgb(255,210,23) , 10px 10px 0 rgb(90,199,255) , 15px 14px 0 rgb(255,210,23) , 20px 20px 0 rgb(90,199,255) ;
}
#canvas {
	position:absolute;
	top:40px;
	left:40px;
	height:40px;
	width:40px;
}
#score {
	position:absolute;
	width:130px;
	height:60px;
	top:40px;
	line-height:60px;
	text-align:center;
	font-size: 40px;
}

#combos {
	position:absolute;
	width:130px;
	height:60px;
	top:120px;
	line-height:60px;
	text-align:center;
	font-size: 40px;
}



img {
	margin:0;
	padding:0;
}
