* {
	font-family:Arial;
}

.box {
	-webkit-box-shadow: 30px 3px 3px 3px rgba(0, 0, 0, 0);
	box-shadow: 30px 3px 3px 3px rgba(0, 0, 0, 0);
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}
#canvas {
	position:absolute;
	top:40px;
	left:40px;
	height:40px;
	width:40px;
}
#score {
	position:absolute;
	width:130px;
	height:60px;
	top:40px;
	line-height:60px;
	text-align:center;
	font-size: 40px;
}

#combos {
	position:absolute;
	width:130px;
	height:60px;
	top:120px;
	line-height:60px;
	text-align:center;
	font-size: 40px;
}

body {
	background: #606c88; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #606c88 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(135deg,  #606c88 0%,#3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

img {
	margin:0;
	padding:0;
}